<a href="https://colab.research.google.com/github/ManuelD22/ICD/blob/master/Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
forest=pd.read_csv('https://raw.githubusercontent.com/ManuelD22/ICD/master/forestfires.csv?token=AG7IGNZWCS5XO66K7NMLJUC55EN6E')

In [7]:
forest.drop(['X','Y','month','day','rain'],axis=1)

     FFMC    DMC     DC   ISI  temp  RH  wind   area
0    86.2   26.2   94.3   5.1   8.2  51   6.7   0.00
1    90.6   35.4  669.1   6.7  18.0  33   0.9   0.00
2    90.6   43.7  686.9   6.7  14.6  33   1.3   0.00
3    91.7   33.3   77.5   9.0   8.3  97   4.0   0.00
4    89.3   51.3  102.2   9.6  11.4  99   1.8   0.00
..    ...    ...    ...   ...   ...  ..   ...    ...
512  81.6   56.7  665.6   1.9  27.8  32   2.7   6.44
513  81.6   56.7  665.6   1.9  21.9  71   5.8  54.29
514  81.6   56.7  665.6   1.9  21.2  70   6.7  11.16
515  94.4  146.0  614.7  11.3  25.6  42   4.0   0.00
516  79.5    3.0  106.7   1.1  11.8  31   4.5   0.00

[517 rows x 8 columns]

In [12]:
forest['FFMC']

0      86.2
1      90.6
2      90.6
3      91.7
4      89.3
       ...
512    81.6
513    81.6
514    81.6
515    94.4
516    79.5
Name: FFMC, Length: 517, dtype: float64

In [14]:
len(forest['FFMC'])

517

TypeError: ignored

In [22]:
for i in range(len(forest['FFMC'])):
  if forest('area',[i])==0:
    forest.drop([i],axis=0)

TypeError: ignored